@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
  /* border: 2px solid red; */
}

.icon-toggle {
  transition: transform 0.3s ease; /* You can adjust the duration and easing as needed */
}

.icon-off {
  transform: rotate(180deg); /* Rotate the icon when it's off */
}